body {
  background-color: #282828; /* Gruvbox dark hard background color */
  color: #ebdbb2; /* Gruvbox light0 color */
  font-family: Arial, sans-serif;
}

header {
 /*background-color: #f8f9fa; */
  padding: 20px;
  text-align: center;
}
h1 {
  color: #fb4934; /* Gruvbox bright red color */
  font-family: 'Merriweather', serif; /* Change as you like */
}

nav {
  text-align: center;
  padding: 10px;
  background-color: #3c3836; /* Gruvbox dark1 color */
}

nav a {
  font-family: 'Roboto', sans-serif;
  margin: 0 15px;
  text-decoration: none;
  color: #83a598; /* used to be black */
}

nav a:hover {
  color: #fbf1c7; /* Gruvbox light1 color */
}


section {
  margin: 20px;
  background-color: #3c3836; /* Gruvbox dark1 color */
  padding: 20px;
  border-radius: 10px;
  color: #b8bb26; /* Gruvbox bright yellow color */
}
.headshot {
  display: block;
  width: 200px;  /* Adjust the value as needed */
  height: auto;  /* Keeps the aspect ratio intact */
  border-radius: 10%; /*new */
  border: 3px solid #83a598; /* Gruvbox bright aqua color border */
  margin: auto;
  margin-bottom: 20px; /* Adjust the value as needed */
}

